# =====================================================
# DATABASE MASTER
# =====================================================

DB_MASTER_HOST=localhost
DB_MASTER_PORT=5432
DB_MASTER_USERNAME=postgres
DB_MASTER_PASSWORD=your-db-password
DB_MASTER_NAME=shorten_db
DB_MASTER_SSLMODE=disable

DB_MASTER_POOL_IDLE=10
DB_MASTER_POOL_MAX=100
DB_MASTER_POOL_LIFETIME=300

# =====================================================
# DATABASE SLAVE
# =====================================================

DB_SLAVE_HOST=localhost
DB_SLAVE_PORT=5432
DB_SLAVE_USERNAME=postgres
DB_SLAVE_PASSWORD=your-db-password
DB_SLAVE_NAME=shorten_db
DB_SLAVE_SSLMODE=disable

DB_SLAVE_POOL_IDLE=10
DB_SLAVE_POOL_MAX=100
DB_SLAVE_POOL_LIFETIME=300

# =====================================================
# REDIS
# =====================================================

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# =====================================================
# NATS
# =====================================================

NATS_URL=nats://localhost:4222

# =====================================================
# AUTH SERVICE
# =====================================================

AUTH_SERVICE_BASE_URL=http://localhost:3000

# =====================================================
# SHORTENER
# =====================================================

SHORTENER_REDIRECT_BASE_URL=http://localhost:3001